div.woocommerce {
	.lost_reset_password {
		max-width: 40%;
		margin: 150px auto 0 auto;
		background-color: $ghost-white;
		padding: 20px;
		border-radius: 5px;

		h3 {
			font-size: 1.5em;
			padding-bottom: 5px;
		}

		input {
			padding: 10px;
			border-radius: 5px;
			border: 1px solid $masonic-blue;
		}

		button {
			background-color: $masonic-purple;
			color: $ghost-white;
		}
	}
}
