div.woocommerce {
	.products {
		max-width: 1800px;
		margin: 0 auto;

		li.product {
			transition: transform 0.2s ease;
			&:hover {
				transform: scale(1.02);
			}

			.woocommerce-loop-product__title {
				color: $ghost-white;
			}

			.price {
				color: $masonic-purple !important;
			}
		}
	}

	.single-product {
		max-width: 1200px;
		margin: 0 auto;
		padding-top: 150px;
		color: $ghost-white;

		.single-product-wrapper {
			display: flex;
			justify-content: space-between;
		}

		.woocommerce-product-title {
			font-size: 2em;
		}

		.price {
			padding: 20px 0;
		}

		.variations_form {
			.variations {
				margin: 1em 0;

				select {
					padding: 10px;

					option {
						padding: 10px;
					}
				}
			}

			.stock {
				font-size: 1.5em;
				padding-bottom: 10px;
			}
		}

		.qty {
			padding: 10px;
		}

		.single_add_to_cart_button {
			padding: 0.75em;
			width: 70%;
			background-color: $masonic-purple;

			&.disabled {
				background-color: $masonic-purple;

				&:hover {
					background-color: $masonic-purple;
					opacity: 0.4;
				}
			}

			&:hover {
				background-color: $masonic-purple;
				opacity: 0.8;
			}
		}

		.tabs {
			color: $black;
		}

		.related.products {
			clear: both;

			& > h2 {
				font-size: 3em;
				padding: 20px;
			}
		}
	}
}
