@import "utilities/variables";
@import "utilities/mixins";
@import "base/typography";

body {
	background: $masonic-blue;
	font-family: d-din-pro;
}

p {
	color: $white;
}

.wp-block-post-title {
	color: $white;
}
