.site-header {
    height: 100px;
    width: 100%;
    @include flex-justify;
    align-items: center;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    z-index: 999;

    .site-header-inner {
        width: $site-width;
        @include flex-justify;

        nav {
            @include flex-align;

            .menu {
                @include flex-align;

                .menu-item {
                    padding: 20px;

                    a {
                        @include reset-anchor(#FFF);
                        display: block;
                        
                        &::after {
                            display: block;
                            content: "";
                            border-bottom: 2px solid #872783;
                            border-radius: 50px;
                            margin-top: 1px;
                            width: 0;
                            transition: .2s ease-in-out;
                        }

                        &:hover:after {
                            width: 100%;
						}
                    }

                    &.current_page_item a::after {
                        width: 100%;
                    }
                }
            }
        }

        .header-logo {
            a {
                display: block;
            }
        }
    }
}