.site-header {
    height: 100px;
    width: 100%;
    text-transform: uppercase;
    position: fixed;
    left: 0;
    z-index: 999;
    transition: height .2s ease-in-out;
    box-sizing: border-box;

    &__inner {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include breakpoint(laptop) {
            display: none;
        }
    }

    &__mobile {
        display: none;
        @include breakpoint(laptop) {
            display: flex;
        }
    }

    &--scrolled {
        background-color: $ghost-white;
        height: 70px;

        .site-header__inner, .site-header__mobile {
            .burger-menu {
                color: #000;
            }

            .menu-item {
                a {
                    color: #000 !important;
                }
            }

            .custom-logo-container {
                .custom-logo {
                    height: 55px;
                }
            }
        }
    }
}