body {
    background-color: $masonic-blue;
    overflow-x: hidden;
}

.wp-block-group {
    @include margin-site-spacing;
}

.wp-block-columns {
    @include margin-site-spacing;
}

.reading-width {
    max-width: $reading-width;
    margin: 0 auto;
}