.apbSliderPosts {
    .apbPost {
        .apbPostText {
            justify-content: flex-end;

            .apbPostTitle {
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}