.main-menu {
	display: flex;
	align-items: center;

	&__left {
		justify-self: start;
		@include breakpoint(laptop) {
			display: none;
		}
	}

	&__right {
		justify-self: end;
		@include breakpoint(laptop) {
			display: none;
		}
	}

	.menu {
		display: flex;
		align-items: center;

		.menu-item {
			padding: 20px;

			a {
				@include reset-anchor($ghost-white);
				display: block;
				font-weight: bold;

				&::after {
					display: block;
					content: "";
					border-bottom: 2px solid $masonic-pink;
					border-radius: 50px;
					margin-top: 1px;
					width: 0;
					transition: 0.2s ease-in-out;
				}

				&:hover:after {
					width: 100%;
				}
			}

			&.current_page_item a::after,
			&.current_page_parent a::after {
				width: 100%;
			}
		}
	}

	&__mobile {
		position: absolute;
		transition: all 0.2s ease;
		margin: -20px;
		@include breakpoint(desktop) {
			display: none;
		}

		.menu {
			overflow: scroll;
			flex-direction: column;
			align-items: center;
			margin-left: -100vw;
			width: 65vw;
			height: 100vh;
			background-color: $ghost-white;
			transition: all 0.2s ease;
			padding-top: 30px;
			box-sizing: border-box;

			.menu-item {
				a {
					color: #000;
				}
			}
		}

		&--open {
			height: 100vh;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.5);

			.menu {
				margin-left: -2vw;
			}
		}
	}
}
