

.shape-divider {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--waves {
        background-image: url(assets/svg/waves.svg);
    }

    &--masonic-waves {
        background-image: url(assets/svg/masnoic-waves.svg);
    }
}