.custom-logo-container {
    justify-self: center;
    align-self: center;
    @include breakpoint(laptop) {
        justify-self: end;
    }

    .custom-logo-link {
        display: block;

        .custom-logo {
            width: 100%;
            transition: .2s ease-in-out;
        }
    }
}