@font-face {
  font-family: d-din-pro;
  src: url("assets/fonts/D-DIN-PRO-400-Regular.woff2");
}
@font-face {
  font-family: d-din-pro;
  src: url("assets/fonts/D-DIN-PRO-500-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: d-din-pro;
  src: url("assets/fonts/D-DIN-PRO-600-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: d-din-pro;
  src: url("assets/fonts/D-DIN-PRO-700-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: d-din-pro;
  src: url("assets/fonts/D-DIN-PRO-800-ExtraBold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: d-din-pro;
  src: url("assets/fonts/D-DIN-PRO-900-Heavy.woff2");
  font-weight: 900;
}
body {
  font-family: d-din-pro;
}

h2#news {
  margin: 0 0 20px 20px;
}

body {
  background: #0e1626;
  font-family: d-din-pro;
}

p {
  color: #ffffff;
}

.wp-block-post-title {
  color: #ffffff;
}
