@mixin margin-site-spacing {
    margin: 0 2vw;
}

@mixin reset-anchor($color:#000) {
    text-decoration: none;
    color: $color;
}

@mixin font-d-din($font) {
	font-family: d-din-pro;
	src: url('assets/fonts/#{$font}');
}