// Set site background color.
$site-background: #0E1626;

// Set width of reading content.
$reading-width: 1200px;

// Set box-shadow
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$ghost-white: #F8F8FF;