// Masonic color palette.
$masonic-blue: #0E1626;
$masonic-purple: #57009B;
$masonic-pink: #872783;

$darker-blue: #0C1322;

// Set width of reading content.
$reading-width: 1200px;

$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$ghost-white: #F8F8FF;
$white: #FFFFFF;