// Masonic color palette.
$masonic-blue: #0e1626;
$masonic-purple: #5f2f85;
$masonic-pink: #882884;

$darker-blue: #0c1322;
$darker-purple: #272d43;

$box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);

$ghost-white: #f8f8ff;
$white: #ffffff;
$black: #232323;

// Set width of reading content.
$reading-width: 1200px;
